{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-5">
        <h1 class="mb-4 text-primary">Créer une tâche</h1>

        <div class="card p-4 shadow-sm">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.name, 'Nom de la tâche', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.createdAt, 'Créée le', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.updatedAt, 'Mise à jour le', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.updatedAt, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.author, 'Auteur', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.author, {'attr': {'class': 'form-select'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
            {{ form_end(form) }}
        </div>

        <a href="{{ path('index_task') }}" class="btn btn-link mt-3">Retour</a>
    </div>
{% endblock %}
